* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alatsi', sans-serif;
}

.card {
    border-radius: 0 !important;
}
.card img{
    border-radius: 0 !important;
}
a {
    text-decoration: none;
    color: inherit;
}
.vertical-line {
    width: 1px;
    height: auto;
    background-color: #E0E0E0;
}
.vertical-line-2 {
    width: 10px;
    height: auto;
    background-color: #db0e0e;
}


/* ==========================================HOME PAGE START====================================== */

/* header  */
.header {
    font-family: "Almarai", sans-serif;
    background-color: #F7DF2A;
    height: auto;
    box-shadow: 0 4px 6px #00000040;
}
.header .home-header-menu{
    background-color: #F8F8F8;
}
.header .home-header-menu .dropdown-menu li{
    height: 40px;
    display: flex;
    gap: 50px;
    justify-content: start;
    align-items: center;
}
.header .home-header-menu .dropdown-menu li:hover,
.header .home-header-menu .dropdown-menu a:hover{
    color: #F52E26;
}
.header .dropdown {
    position: relative;
    display: inline-block;
}
.header .dropdown:hover .login-dropdown-menu {
    display: block;
}
.header .dropdown .login-dropdown-menu {
    padding: 10px;
    min-width: 150px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}
.header .dropdown .login-dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
}
.header .search{
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}
.header .search span{
    font-family: 'Alatsi', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.64px;
    color: #42413D;
    background-color: #FFFFFF;
}
.header .search span div span{
    color: #F52E26;
}
.header .search input::placeholder{
    font-family: 'Alatsi', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.4px;
    color: #F52E2633;
    background-color: #FFFFFF;
}
.header .search input{
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #42413D;
}
.header .search .search-btn{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 5px;
    padding-left: 5px;
}
.header .dropdown .user-img{
    height: 28px;
    width: 28px;
}
.header .dropdown .text{
    font-weight: 400;
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
}
.header .first-row{
    box-shadow: 0px 4px 10px #00000040;

}
.header .categories{
    height: 30px;
    background-color: #F52E26;
    font-size: 12px;
    line-height: 15.36px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .header-menu{
    background-color: #F7DF2A;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .header-menu .header-menu-list {
    font-size: 12px;
    line-height: 15.36px;
    color: #42413D;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.header .header-menu .header-menu-list li {
    margin: 5px 10px;
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}
.header .header-menu .header-menu-list li:not(:last-child)::after {
    content: "•";
    position: absolute;
    right: -10px;
    color: #42413D;
    font-size: 14px;
    font-weight: bold;
}
.header .header-menu .header-menu-list a {
    white-space: nowrap;
    text-decoration: none;
    color: #42413D;
    display: inline-block;
    transition: font-size 0.6s ease;
}
.header .header-menu .header-menu-list li a:hover {
    color: #F52E26;
}

/* Mobile view (remove dots) */
@media (max-width: 768px) {
    .header .header-menu .header-menu-list {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .header .header-menu .header-menu-list li {
        margin: 5px 0;
    }

    .header .header-menu .header-menu-list li:not(:last-child)::after {
        content: "";
    }
}

/* for mobile view header  */
@media (max-width: 768px) {
    .header .categories{
        height: 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .header .header-menu{
        height: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .header .header-menu .header-menu-list {
        font-size: 8px;
        justify-content: flex-start;
    }
    .header .header-menu .header-menu-list li {
        flex: 1 1 45%;
        margin: 0px 0px;
    }
    
}


/* homepage main content  */
.banner {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.about-service{
    height: 100px;
    margin-top: 15px;
    width: 65%;
    background-color: #c9c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-section{
    width: 65%;
    margin: 0 auto;
    padding: 0;
    /* border: 2px solid yellow; */
    /* object-fit: cover; */
}
.promo-product{
    width: 220px;
}
.promo-product-img{
    border-radius: 30px;
}
.product-section-img{
    object-fit: contain;
}

.for-you-heading{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.show-more{
    justify-content: flex-end;
    margin-right: 0px;
    text-align: end;
}
.show-more div{
    background-color: #f52e26;
    width: 100px;
    color: #FFFF;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-div-title{
    justify-content: flex-start;
    margin-bottom: 0px;
    text-align: center;
}
.product-div-title div {
    background-image: url('../img/product-div-title.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 200px;
    text-align: start;
    margin-bottom: 0px;
}
.product-div-title div p{
    margin-left: 20px;
}

/* for all product cards  */
.product-card img{
    width: 180px;
    height: 147px;
}
.card-text{
    font-size: 12px;
}
.card.product-card {
    width: 200px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.card.product-card .card-img-top {
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.card.product-card .price {
    font-weight: bold;
    color: rgb(247, 70, 70);
    margin-top: 5px;
}
.card-body {
    text-align: left;
    padding: 10px;
    min-height: 100px;
}
.card-text {
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
}


/* Hide dropdown menu initially */
.dropdown-menu {
    display: none;
}
.dropdown-menu li{
    height: 30px;
}

/* Show dropdown when hovering over the nav-container */
.nav-container:hover .dropdown-menu {
    display: block;
}

/* Submenu styling */
.dropdown-menu .dropdown-submenu {
    position: relative;
}

.dropdown-menu .dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    }

/* Arrow indicator for submenus */
.dropdown-menu .dropdown-submenu>a::after {
    content: ">";
    float: right;
}

.nav-container {
    width: 250px;
}

.menu-header {
    color: white;
    background-color: #f54040;
    cursor: pointer;
    transition: font-size 0.6s ease;
}
.menu-header:hover {
    font-size: 1.2em;
}

.dropdown-item {
    font-size: 14px;
}

.highlighted-item {
    color: #f54040;
}
@media (max-width: 768px) {
    .menu-header {
        font-size: 0.7em;
        transition: font-size 0.6s ease;
    }
    .menu-header:hover {
        font-size: 0.9em;
    }
    
}

/* ==============================================HOMEPAGE END=================================== */



/* =========================================FOLLOW ICONS START=================================== */
.follow-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.follow-icons ul li a.colored {
    top: 10px;
    left: 0;
    z-index: 2;
}
.follow-icons ul li a.gray {
    top: 10px;
    left: 15px;
    z-index: 1;
}
.follow-icons ul li img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
}
/* =======================================FOLLOW ICONS END====================================== */



/* ==================================================FOOOTER START================================== */
footer{
    background-color: #F4F4F4;
}

footer h5{
    color: #F7DF2A;
}
footer ul{
    padding: 0;
}
footer ul li{
    list-style: none;
    margin-left: 0;
    color: #42413D;
    /* font-size: 14px; */
    font-weight: 400;
    /* text-align: justify; */
    line-height: 20px;
    padding: 3px;
    font-family: "Almarai", sans-serif;
}
footer ul li a:hover{
    color: #F52E26;
}
.contact-us ul li{
    font-weight: 1px;
}
.mobile-apps .app-links {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.mobile-apps ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mobile-apps ul li {
    display: inline-block;
}
.social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =======================================FOOOTER END=========================== */



/* ==================================LOGIN | SIGNUP START============================== */
.login-area,
.signup-area{
    /* width: 896px; */
    border: 1px solid #D8D8D8;
    margin-bottom: 150px;
    font-family: "Almarai", sans-serif;
    background-color: #F5F5F5;
    /* font-weight: 700; */
}
.login-area .login-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signup-area .signup-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-area .login-button{
    width: 100%;
    background-color: #F7DF2A;
    color: #42413D;
    box-shadow: inset 0px 0px 10px 0px #FFFFFF;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.login-area .login-button:hover{
    background-color: #ffe100;
    color: #3d3c38;
}
.signup-area .signup-button{
    width: 100%;
    background-color: #04C700;
    color: white;
    box-shadow: inset 0px 0px 10px 0px #FFFFFF;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.signup-area .signup-button:hover{
    background-color: #0ee70a;
}
.login-area input[type="text"],
.login-area input[type="password"],
.signup-area input[type="text"],
.signup-area input[type="password"],
.signup-area select,
.signup-area .input-group .input-group-text{
    height: 40px;
    border-radius: 10px;
    color: #42413D;
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 14px;
}
#day, #month, #year{
    padding-left: 5px;
    text-align: center;
}
.login-area input[type="checkbox"],
.signup-area input[type="checkbox"]{
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
}
.login-area label,
.signup-area label{
    font-size: 13px;
    line-height: 13.39px;
    color: #42413D;
    margin-bottom: 10px;
}
.login-area p,
.signup-area p{
    font-size: 11px;
    line-height: 11.16px;
    color: #42413D;
    margin-top: 10px;
}
.login-area p span,
.signup-area p span{
    color: #3787FF;
    line-height: 12.28px;
}
.login-area input::placeholder,
.signup-area input::placeholder,
.form-control, #day, #month, #year, #gender{
    color: #D8D8D8;
    font-size: 13px;
    line-height: 13.39px;
}
.signup-area .input-group .input-group-text{
    color: #3787FF;
    font-size: 12px;
    line-height: 13.39px;
}
.login-area :nth-child(2) div a,
.signup-area :nth-child(2) div a {
    font-size: 10px;
    line-height: 11.16px;
    margin-top: 10px;
    color: #3787FF;
}
.login-with-social > div:nth-child(1) {
    background-color: #F7DF2A;
    border: 1px solid #F7DF2A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.signin-with-social > div:nth-child(1) {
    background-color: #04C700;
    border: 1px solid #04C700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login-with-social > div:nth-child(1) h5 {
    color: #42413D;
    margin-top: 5px;
    font-size: 15px;
    line-height: 16.74px;
}
.signin-with-social > div:nth-child(1) h5 {
    color: #FFFFFF;
    margin-top: 5px;
    font-size: 15px;
    line-height: 16.74px;
}
.login-with-social > div:nth-child(2) {
    height: auto;
    border: 1px solid #F7DF2A;
    background-color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.signin-with-social > div:nth-child(2) {
    height: auto;
    border: 1px solid #04C700;
    background-color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.login-area img,
.signup-area img{
    max-width: 100%;
    height: auto;
    display: block;
}
.signup-area .terms-privacy label a{
    color: #3787FF;
}

/* ==================================LOGIN | SIGNUP END============================== */




/* ===============================HOW TO BUY START================================= */
.how-to-buy,
.payment-proceed{
    /* width: 1010px; */
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.payment-proceed{
    margin-top: 150px;
}
.how-to-buy p,
.payment-proceed p{
    margin-top: 5px;
}
.how-to-buy span,
.payment-proceed span{
    font-weight: 300;
}
.how-to-buy .how-to-buy-heading,
.payment-proceed .payment-proceed-heading{
    background-image: url('../img/how-to-buy-header-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
/* ==============================================HOW TO BUY END========================================= */


/* =========================PRIVACY POLICY | TERMS CONDITION | RETURN REFUND START========================== */
.privacy-policy,
.terms-condition,
.return-refund{
    font-family: "Almarai", sans-serif;
}
.privacy-policy .privacy-policy-heading,
.terms-condition .terms-condition-heading,
.return-refund .return-refund-heading{
    background-image: url('../img/privacy-policy-heading-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
.privacy-policy .privacy-policy-heading p,
.terms-condition .terms-condition-heading p,
.return-refund .return-refund-heading p{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.32px;
    color: #42413D;
}
.privacy-policy .inner-box-heading{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16.74px;
    color: #42413D;
}
.privacy-policy h5,
.terms-condition h5,
.return-refund h5{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.privacy-policy p,
.terms-condition p,
.return-refund p{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    font-size: 14px;
    color: #42413D;
}
.privacy-policy ul li,
.terms-condition ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
.return-refund ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.return-refund .company-info ul li{
    list-style: none;
}
/* =========================PRIVACY POLICY | TERMS CONDITION | RETURN REFUND ENDS========================== */


/* ========================================ABOUT US START====================================== */
.about-us{
    font-family: "Almarai", sans-serif;
}
.about-us p{
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 300;
    text-align: justify;
}
.about-us .company-info ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
/* ===========================================ABOUT US END========================================= */

/* ============================================CONTACT US START====================================== */
.contact-us{
    font-family: "Almarai", sans-serif;
}
.contact-us input[type="text"],
.contact-us input[type="password"],
.contact-us input[type="email"]{
    height: 40px;
    border-radius: 10px;
    color: #42413D;
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
    
    background-color: #FFFFFF;
}
.contact-us p{
    margin-top: 5px;
}
.contact-us label{
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
    margin-bottom: 10px;
}
.contact-us .contact-us-heading{
    background-image: url('../img/privacy-policy-heading-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
.contact-us input::placeholder{
    color: #D8D8D8;
    font-size: 12px;
    line-height: 13.39px;
}
.contact-us ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
/* =========================================CONTACT US END========================================= */


/* ================================================OFFERS START=================================== */
.offers{
    font-family: "Almarai", sans-serif;
}
.offers .offers-heading{
    background-image: url('../img/offer-heading-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.offers h1{
    font-family: "Lilita One", sans-serif;
    color: white;
}
/* ====================================================OFFERS END================================== */


/* ================================================STORE START====================================== */
.store{
    font-family: "Almarai", sans-serif;
}
.store .banner-footer {
    height: 50px;
    background-color: #F8F8F8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.store .store-menu{
    background-color: #F7DF2A;
    border-radius: 10px;
}
.store .store-heading{
    background-color: #F7DF2A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.store h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 26.75px;
    color: #42413D;
}
.store .chat,
.store .follow,
.store .followers{
    font-weight: 400;
    font-size: 13px;
    line-height: 14.51px;
    color: #42413D;
}
.store .store-menu p{
    font-weight: 400;
    font-size: 20px;
    line-height: 22.321px;
    color: #42413D;
}
.store .card p{
    font-weight: 400;
    font-size: 10px;
    line-height: 12.8px;
    color: #42413D;
}
.store .card .price{
    font-weight: 400;
    font-size: 15px;
    line-height: 19.2px;
    color: #42413D;
}
.store .card .offer{
    font-weight: 400;
    font-size: 10px;
    line-height: 10.24px;
    color: #A0A0A0;
}
/* =============================================STORE END=================================== */


/* ==========================================BLOG START======================================= */
.blog{
    font-family: "Almarai", sans-serif;
}
.blog h2{
    font-size: 40px;
    line-height: 44.64px;
    font-weight: 800;
    color: #42413D;
}
.blog .heading-description p{
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 400;
    color: #42413D;
}
.blog .card .post-content{
    font-size: 14px;
    line-height: 19px;
    color: #42413D;
    font-weight: 400;
}
.blog .card .post-header{
    font-size: 20px;
    line-height: 16.16px;
    color: #F7DF2A;
    font-weight: 800;
}

.blog .blog-post h4{
    font-size: 20px;
    line-height: 22.32px;
    font-weight: 800;
    color: #F7DF2A;
}
.blog .blog-post div{
    background-color: #FFFFFF;
}
.blog .blog-post .text-justify {
    text-align: justify;
}
.blog .top-selling-card .card-title{
    font-size: 15px;
    line-height: 16.74px;
    font-weight: 800;
    color: #F7DF2A;
}
.blog .top-selling-card .card-text{
    font-size: 11px;
    line-height: 12.28px;
    font-weight: 400;
    color: #42413D;
}
.blog .top-selling-card .date,
.blog .blog-post .date{
    font-size: 12px;
    line-height: 13.39px;
    font-weight: 400;
    color: #F52E26;
}
.blog .top-selling-card .read-more,
.blog .blog-post .read-more{
    font-size: 12px;
    line-height: 13.39px;
    font-weight: 400;
    color: #03A400;
}
.blog .left-arrow,
.blog .right-arrow{
    background-color: #D8D8D8;;
    border-radius: 10px;
    height: 50px;
}

.blog .carousel-2 {
    overflow: hidden;
    position: relative;
}

.blog .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.blog .slider-item {
    flex: 0 0 calc(100% / 4); /* For 4 cards on desktop */
    box-sizing: border-box;
}

.blog .left-arrow, .blog .right-arrow {
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {
    .blog .slider-item {
        flex: 0 0 calc(100% / 2); /* For 2 cards on tablets */
    }
}

@media (max-width: 480px) {
    .blog .slider-item {
        flex: 0 0 100%; /* For 1 card on mobile */
    }
}

/* ===============================================BLOG END=========================================== */


/* ===========================================NAVBAR 2 START========================================== */
.custom-navbar{
    font-family: "Almarai", sans-serif;
    background-color: #F7DF2A;
    height: auto;
}
.custom-navbar .dropdown {
    position: relative;
    display: inline-block;
}

.custom-navbar .dropdown:hover .login-dropdown-menu {
    display: block;
}

.custom-navbar .dropdown .login-dropdown-menu {
    padding: 10px;
    min-width: 150px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}
.custom-navbar .dropdown .login-dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
}
.custom-navbar .search{
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}
.custom-navbar .search span{
    font-family: 'Alatsi', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16.64px;
    color: #42413D;
    background-color: #FFFFFF;
}
.custom-navbar .search input::placeholder{
    font-family: 'Alatsi', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: #F52E2633;
    background-color: #FFFFFF;
}
.custom-navbar .search input{
    border: none;
    box-shadow: none;
}
.custom-navbar .search .search-btn{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 5px;
    padding-left: 5px;
}
.custom-navbar .dropdown .user-img{
    height: 28px;
    width: 28px;
}
.custom-navbar .dropdown .text{
    font-weight: 400;
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
}
/* ================================================NAVBAR 2 START================================ */



/* =======================================PRODUCT PAGE START========================================== */
.product-area{
    font-family: "Almarai", sans-serif;
}
.product-area .brand-logo{
    height: 30px;
    width: 30px;
    background-color: #FFEDED;
    border-radius: 5px;
    font-size: 6px;
    line-height: 7.2px;
    text-align: center;
    color: #42413D;
}
.product-area .brand-name{
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
}
.product-area .see-more-link{
    font-weight: 400;
    font-size: 9px;
    line-height: 10.04px;
    color: #03A400;
}
.product-area .product-rating .checked{
    color: orange;
}
.product-area .product-name h4{
    font-family: "Tajawal", sans-serif;
    line-height: 18px;
    font-weight: 700;
    line-height: 1;
    color: #42413D;
}
.product-area .product-rating div:first-of-type span:first-of-type {
    color: #42413D;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
}
.product-area .product-rating div:first-of-type span:last-of-type {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    color: #42413D;
    font-size: 12px;
    line-height: 12px;
}
.product-area .product-rating div:last-of-type span {
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    color: #42413D;
    font-size: 13px;
    line-height: 13.2px;
}
.product-area .price {
    font-weight: 700;
    color: #F7DF2A;
    font-size: 32px;
    line-height: 35.71px;
}
.product-area .discount  {
    font-weight: 700;
    color: #03A400;
    font-size: 12px;
    line-height: 13.39px;
}
.product-area .prev-price-lebel  {
    font-weight: 400;
    color: #42413D;
    font-size: 10px;
    line-height: 8.93px;
}
.product-area .prev-price-amount  {
    font-weight: 700;
    color: #42413D;
    font-size: 11px;
    line-height: 11.16px;
}
.product-area .items-left  {
    font-weight: 400;
    color: #F52E26;
    font-size: 11px;
    line-height: 11.16px;
}
.product-area .add-to-cart-btn{
    border-radius: 17px;
    background-color: #F52E26;
}
.product-area .add-to-cart-btn:hover{
    border: 1px solid #00D1FF;
    box-shadow: 0 4px 12px rgba(0, 209, 255, 0.7);
}
.product-area .buy-now-btn{
    border-radius: 17px;
    background-color: #F7DF2A;
}
.product-area .buy-now-btn:hover{
    border: 1px solid #00D1FF;
    box-shadow: 0 4px 12px rgba(0, 209, 255, 0.7);
}
.product-area .limited-stock-btn{
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    background-color: #F52E26;
}
.product-area .quantity label{
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 13.2px;
    color: #42413D;
}
.product-area .variation p{
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #42413D;
}
.product-area .variation p span{
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #42413D;
}
.product-area .shipping-info .info-label,
.product-area .service-info .info-label,
.product-area .vendor-info .info-label{
    font-weight: 400;
    font-size: 10px;
    line-height: 11.6px;
    color: #D0D0D0;
}
.product-area .shipping-info .shipping-address .address{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #42413D;
}
.product-area .shipping-info .shipping-address .change{
    font-weight: 400;
    font-size: 13px;
    line-height: 11.16px;
    color: #00E0FF;
}
.product-area .shipping-info .delivery-type .type{
    font-weight: 700;
    font-size: 11px;
    line-height: 12.28px;
    color: #5B0093;
}
.product-area .shipping-info .delivery-type .fee{
    font-weight: 800;
    font-size: 9px;
    line-height: 10.4px;
    color: #442413DD;
}
.product-area .shipping-info .delivery-type .order-date{
    font-weight: 400;
    font-size: 8px;
    line-height: 8.93px;
    color: #A0A0A0;
}
.product-area .shipping-info .delivery-type .delivery-date,
.product-area .shipping-info .delivery-type .payment-type,
.product-area .shipping-info .delivery-type .ship-info{
    font-weight: 400;
    font-size:11px;
    line-height: 12.28px;
    color: #42413D;
}
.product-area .shipping-info .delivery-type .delivery-date span{
    font-weight: 700;
}
.product-area .service-info .services p{
    font-weight: 700;
    font-size: 11px;
    line-height: 12.8px;
    color: #42413D;
}
.product-area .service-info .services p span{
    font-weight: 400;
    font-size: 8px;
    line-height: 8.93px;
    color: #42413D;
}
.product-area .service-info .services h5{
    font-weight: 400;
    font-size: 10px;
    line-height: 11.16px;
    color: #b89920;
}
.product-area .vendor-info .vendor{
    font-weight: 700;
    font-size: 12px;
    line-height: 13.39px;
    color: #5B0093;
}
.product-area .vendor-info .chat{
    font-weight: 400;
    font-size: 11px;
    line-height: 12.28px;
    color: #4AE9FF;
}
.product-area .vendor-info .store{
    font-weight: 400;
    font-size: 8px;
    line-height: 8.93px;
    color: #03A400;
}
.product-area .menu-bar a{
    font-weight: 400;
    font-size: 13px;
    line-height: 14.51px;
    color: #42413D;
}
.product-area .about-product .custom-btn{
    font-weight: 400;
    font-size: 13px;
    line-height: 14.51px;
    color: #42413D;
}
.product-area .about-product #description,
.product-area .packing-delivery ul li {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #42413D;
}
.product-area .about-product #description span,
.product-area .packing-delivery ul li span {
    font-weight: 400;
    font-size: 14px;
    color: #42413D;
}
.product-area .packing-delivery h3,
.product-area .about-product h3,
.product-area .rating-review h3,
.product-area .about-supplier h3,
.product-area .supplier-details h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 26.78px;
}
.product-area .rating-review .rating-review-heading{
    background-image: url('../img/review-rating-heading.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}
.product-area .rating-review .rating-review-heading p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #4D4D4D;
}
.product-area .rating-review .rating-review-heading p span{
    margin-left: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 7.81px;
    color: #4D4D4D;
}
.product-area .rating-review .review{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #42413D;
    text-align: justify;
}
.product-area .about-product #details p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #42413D;
}
.custom-btn {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
.custom-btn.active,
.custom-btn:hover {
    text-decoration: underline;
    text-decoration-color: #F7DF2A;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    color: #F7DF2A; 
    font-weight: bold;
}
.custom-btn:hover {
    text-decoration: underline;
    color: #0056b3;
}
#thumbnail-container {
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.thumbnail.active {
    border: 2px solid blue;
}

.thumbnail {
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid gray;
}

#main-image-container {
    text-align: center;
}
/* =========================================PRODUCT PAGE END==================================== */



/* ==========================================CART PAGE START=========================================== */
.cart-area{
    font-family: "Almarai", sans-serif;
}
.cart-area .heading{
    background-color: #F52E26;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.cart-area .unavailable-heading{
    background-color: #F7DF2A;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.cart-area .select-all label{
    color: #42413D;
    font-weight: 400;
    font-size:12px;
    line-height: 12px;
}
.cart-area .select-all span{
    color: #42413D;
    font-weight: 400;
    font-size:10px;
    line-height: 12px;
}
.cart-area .delete a{
    color: #42413D;
    font-weight: 400;
    font-size:16px;
    line-height: 12px;
}
.cart-area .cart-product .product-details p:first-of-type{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-left: 5px;
    text-align: justify;
}
.cart-area .cart-product .product-details p:last-of-type{
    font-size: 9px;
    line-height: 10px;
    font-weight: 300;
    padding-left: 5px;
    color: #05FF00;
}
.cart-area .cart-product .price h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #F7DF2A;
    text-shadow: 0px 2px 2px #00000040;
}
.cart-area .cart-product .price p:first-of-type {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #42413D;
}
.cart-area .cart-product .price p:last-of-type {
    font-size: 13px;
    font-weight: 700;
    line-height: 2px;
    color: #03A400;
}
.cart-area .order-summary{
    padding-left: 20px;
}
.cart-area .order-summary .first-row {
    border: 1px solid #D8D8D8; 
    border-top-right-radius: 20px;
    box-shadow: 0 4px 6px #00000033;
}
.cart-area .order-summary .second-row {
    border: 1px solid #D8D8D8; 
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px #00000033;
    padding-bottom: 30px;
}
.cart-area .order-summary .second-row div {
    border: 1px solid #D8D8D8; 
    box-shadow: 0 4px 6px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-area .order-summary .summary-heading p{
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 10px;
    color: #42413D;
}
.cart-area .order-summary .summary-heading p span{
    margin-left: 15px;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #42413D;
}
.cart-area .order-summary .subtotal .subtotal-heading p{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: #42413D;
}
.cart-area .order-summary .subtotal .subtotal-price p{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: #21af3e;
}
.cart-area .order-summary .pay-with p{
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: #42413D;
}

/* ========================================CART PAGE START========================================= */



/* ===========================================CHECKOUT PAGE START====================================== */
.horizontal-line {
    height: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px #FF000033;
    border: none;
    margin: 10px 0;
}
.checkout-area{
    font-family: "Almarai", sans-serif;
}
.checkout-area .delivery-details .delivery-details-heading{
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area .delivery-details .name p{
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area .delivery-details .name span{
    margin-left: 20px;
    color: #F52E26;
}
.checkout-area .delivery-details .change a{
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    color: #00E0FF;
}
.checkout-area .delivery-details .address p strong{
    font-size: 12px;
    font-weight: 700;
    line-height: 13.39px;
    color: #42413D;
}
.checkout-area .delivery-details .address p{
    font-size: 12px;
    font-weight: 300;
    line-height: 13.39px;
    color: #42413D;
}
.checkout-area .order-info .shop h5{
    font-size: 14px;
    line-height: 15.67px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area .order-info .shop small{
    font-size: 10px;
    line-height: 15.67px;
    font-weight: 400;
    color: #F52E26;
}
.checkout-area .order-info .subtotal small{
    font-size: 10px;
    line-height: 15.67px;
    font-weight: 400;
    color: #959595;
}
.checkout-area .order-info .subtotal p{
    font-size: 14px;
    line-height: 15.67px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area .order-info .product-description p:first-of-type{
    font-size: 11px;
    line-height: 12.28px;
    font-weight: 300;
    color: #42413D;
    text-align: justify;
}
.checkout-area .order-info .product-description p:last-of-type{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 300;
    color: #D0D0D0;
}
.checkout-area .order-info .delivery-info p{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 300;
    color: #5B0093;
}
.checkout-area .order-info .delivery-info p span,
.checkout-area .order-info .quantity p{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 300;
    color: #42413D;
}
.checkout-area .order-info .price span:first-of-type{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 300;
    color: #959595;
}
.checkout-area .order-info .price span:last-of-type{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 300;
    color: #656565;
}
.checkout-area .order-info .price h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #F7DF2A;
    text-shadow: 0px 2px 2px #00000040;
}
.checkout-area .order-details .order-details-heading{
    font-size: 16px;
    line-height: 17.86px;
    font-weight: 400;
    color: #42413D;
}
.checkout-area .order-details .order-info p{
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: #42413D;
}
.checkout-area .order-details .total-payable-heading p{
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area .order-details .total-payable-heading span{
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 700;
    color: #03A400;
}
.checkout-area .order-details .vat p:first-of-type{
    font-size: 10px;
    line-height: 11.16px;
    font-weight: 400;
    color: #D8D8D8DD;
}
.checkout-area .order-details .vat p:last-of-type{
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    color: #42413D;
}
.checkout-area input::placeholder{
    font-size: 10px;
    line-height: 11px;
    color: #959595;
}
.fade-span{
    font-size: 10px;
    line-height: 11.16px;
    color: #42413D;
}
.money{
    font-size: 12px;
    line-height: 13.39px;
    font-weight: 700;
    color: #42413D;
}

/* =====================================CHECKOUT PAGE START============================ */