* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alatsi', sans-serif;
}


header {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0;
    margin-bottom: -10px;
}

.main {
    position: relative;
    z-index: 2;
    margin-top: -150px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



a {
    text-decoration: none;
    color: inherit;
}

.rectengle-1 {
    height: 50px;
    background-color: #F7DF2A;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 590px;
}

.search-bar {
    width: 100%;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 120px;
    font-size: 12px;
    padding-left: 100px;
    background-color: #FFFFFF;
}

.static-text {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #f52e26;
    pointer-events: none;
}

.static-text span {
    color: #D8D8D8;
}

.search-bar::placeholder {
    color: #fdd5d4;
    font-size: 10px;
}

.search-bar:focus::placeholder {
    color: transparent;
}

.login-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 1; */
}

.login {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 12px;
    color: #42413D;
}

.login img {
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.login .down-arrow {
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.cart {
    display: flex;
    align-items: end;
}

.cart .down-arrow {
    padding-left: 0px;
    padding-top: 10px;
}

.cart .cart-img {
    padding-top: 0px;
    max-width: 30px;
    height: auto;
}








.bg-yellow {
    background-color: #F7DF2A;
    height: 30px;
}

.bg-white {
    background-color: #fff;
}

.bg-red {
    background-color: #f52e26;
    height: 30px;
}

.left-round {
    border-top-right-radius: 8px;
    background-color: #fff;
}

.right-round {
    border-top-left-radius: 8px;
    background-color: #fff;
}

.info-bar {
    background-color: #F7DF2A;
    padding-top: 3px;
    padding-bottom: 15px;
    height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info-bar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.info-bar li {
    margin: 0 20px;
    font-size: 12px;
    /* list-style: none; */
}

.custom-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #42413D;
}

.custom-list li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
}

.custom-list li::before {
    content: "\2022";
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #42413D;
}

.custom-list li:first-child::before {
    content: "";
}

.custom-list li a {
    text-decoration: none;
    color: inherit;
}



.all-categories {
    background-color: #f52e26;
    height: 25px;

    border: none;
    padding: 5px;
    width: 135px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border: 1px solid black; */
}

.all-categories select {
    background-color: #f52e26;
    border: none;
    color: #fff;
    height: 22px;
}










.follow-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.follow-icons ul li {
    position: relative;
    width: 31px;
    height: 31px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 25px;
}

.follow-icons ul li a {
    position: absolute;
}

.follow-icons ul li a.colored {
    top: 10px;
    left: 0;
    z-index: 2;
}

.follow-icons ul li a.gray {
    top: 10px;
    left: 15px;
    z-index: 1;
}

.follow-icons ul li img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
}







/* Responsive Styles - For Mobile */
@media (min-width: 1021px) {


    .search-area {
        max-width: 400px;
    }

    .search-bar {
        width: 100%;
        height: 25px;
        font-size: 12px;
    }

    .static-text {
        font-size: 12px;
    }


    .search-bar::placeholder {
        font-size: 9px;
    }

    .login {
        margin-left: 6px;
        font-size: 10px;
    }

    .login img {
        margin-right: 5px;
        height: 25px;
        width: 25px;
    }

    .login .down-arrow {
        margin-right: 5px;
        height: 10px;
        width: 10px;
    }

    .cart .down-arrow {
        padding-left: 0px;
        padding-top: 10px;
    }

    .cart .cart-img {
        padding-top: 0px;
        max-width: 25px;
        height: auto;
    }

    .info-bar {
        background-color: #F7DF2A;
        padding-top: 3px;
        padding-bottom: 15px;
        height: 22px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .info-bar li {
        margin: 0 15px;
    }

    .custom-list li {
        font-size: 12px;
    }

    .custom-list li:first-child::before {
        content: "";
    }

    .custom-list li a {
        text-decoration: none;
        color: inherit;
    }


    .all-categories {
        height: 20px;
        width: 120px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .all-categories select {
        background-color: #f52e26;
        border: none;
        color: #fff;
        height: 17px;
        font-size: 10px;
    }


    .follow-icons ul li a {
        position: absolute;
    }

    .follow-icons ul li a.colored {
        top: 10px;
        left: 0;
        z-index: 2;
    }

    .follow-icons ul li a.gray {
        top: 10px;
        left: 15px;
        z-index: 1;
    }

    .follow-icons ul li img {
        width: 31px;
        height: 31px;
        border-radius: 50%;
    }

    .about-service{
        margin-top: 15px;
        width: 417px;
    }

}

@media (max-width: 1020px) {
    .rectengle-1 {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }

    .search-area {
        display: flex;
        justify-content: flex-start;
        /* Align items to the start */
        margin-bottom: 5px;
        width: 170px;
        /* border: 1px solid black; */
    }

    .search-bar {
        height: 20px;
        width: 170px;
    }

    .static-text {
        font-size: 7px;
    }

    .search-bar::placeholder {
        font-size: 5px;
    }

    .login-cart {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 5px;
        /* border: 1px solid black; */
    }

    .login {
        margin-left: 0px;
        font-size: 5px;
        width: 100%;
        /* border: 1px solid black; */
    }

    .login img {
        margin-right: 1px;
        height: 10px;
        /* width: 10px; */
    }

    .login .down-arrow {
        margin-right: 5px;
        height: 5px;
        width: 5px;
    }

    .cart {
        font-size: 12px;
        width: 20px;
        /* border: 1px solid black; */
    }

    .cart .down-arrow {
        padding-left: 0px;
        padding-top: 10px;
        height: 5px;
        width: 5px;
    }

    .cart .cart-img {
        padding-top: 0px;
        max-width: 15px;
        height: auto;
    }

    .search-bar::placeholder {
        font-size: 5px;
    }

    .info-bar {
        height: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 200px;

    }

    .info-bar ul {
        flex-wrap: wrap;
        /* padding: 5px; */
        padding-bottom: 5px;
    }

    .info-bar li {
        font-size: 5px;
        margin: 0px 3px;
        /* list-style: none; */
    }

    .custom-list li::before {
        content: "";
    }

    .all-categories {
        height: 10px;
        width: 70px;
        font-size: 2px;
    }

    .all-categories select {
        height: 8px;
        font-size: 5px;
    }

    .left-round {
        height: 10px;
        width: 2px;
    }

    .right-round {
        height: 10px;
        width: 2px;
    }

    .bg-red {
        display: none;
        height: 10px;
        width: 2px;
    }

    .bg-yellow {
        display: none;
        height: 10px;
        width: 20px;
    }

    /* .follow-icons ul {
        list-style: none;
        padding: 0;
        margin: 0;
    } */

    .follow-icons ul li {
        position: relative;
        width: 15px;
        height: 15px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        margin-right: 0px;
    }

    .follow-icons ul li a {
        position: absolute;
    }

    .follow-icons ul li a.colored {
        top: 1px;
        left: 0;
        z-index: 2;
    }

    .follow-icons ul li a.gray {
        top: 1px;
        left: 7px;
        z-index: 1;
    }

    .follow-icons ul li img {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    
    
}

.banner {
    /* margin-top: 96px; */
    /* height: 300px; */
    width: 67%;
    margin: 0 auto;
    padding: 0;
}

.about-service{
    height: 100px;
    margin-top: 15px;
    width: 65%;
    background-color: #c9c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section{
    width: 65%;
    margin: 0 auto;  /* Center the container */
    padding: 0;
    /* border: 2px solid yellow; */
    /* object-fit: cover; */
}
.promo-product{
    width: 220px;
}
.promo-product-img{
    border-radius: 30px;
}
.product-section-img{
    object-fit: contain;
}
.for-you{
    width: 180px;
}
.for-you-heading{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* .for-you div{
    height: auto;
    width: 180px;
    display: grid;
} */


.show-more{
    /* border: 1px solid red; */
    justify-content: flex-end;
    /* align-items: end; */
    margin-right: 0px;
    text-align: end;
}
.show-more div{
    /* border: 1px solid red; */
    background-color: #f52e26;
    width: 100px;
    color: #FFFF;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-div-title{
    /* border: 1px solid red; */
    justify-content: flex-start;
    margin-bottom: 0px;
    text-align: center;
}
.product-div-title div {
    /* border: 1px solid red; */
    background-image: url('../img/product-div-title.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 200px;
    text-align: start;
    margin-bottom: 0px;
}
.product-div-title div p{
    margin-left: 20px;
}




.product-card img{
    width: 180px;
    height: 147px;
}
.card-text{
    font-size: 12px;
}








.card.product-card {
    width: 200px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.card.product-card .card-img-top {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.card.product-card .price {
    font-weight: bold;
    color: rgb(247, 70, 70);
    margin-top: 5px;
}
.card-body {
    text-align: left;
    padding: 10px;
    min-height: 100px;
}

.card-text {
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 1020px){
    .main{
        margin-top: -204px;
    }

    .banner{
        margin-top: 150px;
        /* height: 150px; */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-service{
        margin-top: 15px;
        height: 40px;
    }
}


/* =======================================FOOOTER START=========================== */
footer{
    background-color: #F4F4F4;
}

footer h5{
    color: #F7DF2A;
}
footer ul{
    padding: 0;
}
footer ul li{
    list-style: none;
    margin-left: 0;
    color: #42413D;
    /* font-size: 14px; */
    font-weight: 400;
    /* text-align: justify; */
    line-height: 20px;
    padding: 3px;
    font-family: "Almarai", sans-serif;
}
.contact-us ul li{
    font-weight: 1px;
}
.mobile-apps .app-links {
    display: flex; /* Align child elements horizontally */
    gap: 10px; /* Space between the ul elements */
    justify-content: space-between;
}

.mobile-apps ul {
    list-style: none; /* Remove bullets */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.mobile-apps ul li {
    display: inline-block; /* Ensure li contents are inline */
}
.social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =======================================FOOOTER END=========================== */



/* ==================================LOGIN | SIGNUP START============================== */
.login-area,
.signup-area{
    width: 896px;
    border: 1px solid #D8D8D8;
    margin-bottom: 150px;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.login-area input[type="text"],
.login-area input[type="password"],
.signup-area input[type="text"],
.signup-area input[type="password"],
.signup-area select,
.signup-area .input-group .input-group-text{
    /* width: 350px; */
    height: 40px;
    border-radius: 10px;
    color: #42413D;
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
    
    background-color: #FFFFFF;
}
#day, #month, #year{
    padding-left: 5px;
    text-align: center;
}
.login-area input[type="checkbox"],
.signup-area input[type="checkbox"]{
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
}

.login-area label,
.signup-area label{
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
    margin-bottom: 10px;
}
.login-area p,
.signup-area p{
    font-size: 10px;
    line-height: 11.16px;
    color: #42413D;
    margin-top: 10px;
}
.login-area p span,
.signup-area p span{
    color: #3787FF;
    line-height: 12.28px;
}

.login-area input::placeholder,
.signup-area input::placeholder,
.form-control, #day, #month, #year, #gender{
    color: #D8D8D8;
    font-size: 12px;
    line-height: 13.39px;
}
.signup-area .input-group .input-group-text{
    color: #3787FF;
    font-size: 12px;
    line-height: 13.39px;
}
.login-area :nth-child(2) div a,
.signup-area :nth-child(2) div a {
    font-size: 10px;
    line-height: 11.16px;
    margin-top: 10px;
    color: #3787FF;
}
.login-with-social > div:nth-child(1) {
    background-color: #F7DF2A;
    border: 1px solid #F7DF2A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.signin-with-social > div:nth-child(1) {
    background-color: #04C700;
    border: 1px solid #04C700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login-with-social > div:nth-child(1) h5 {
    color: #42413D;
    margin-top: 5px;
    font-size: 15px;
    line-height: 16.74px;
}
.signin-with-social > div:nth-child(1) h5 {
    color: #FFFFFF;
    margin-top: 5px;
    font-size: 15px;
    line-height: 16.74px;
}
.login-with-social > div:nth-child(2) {
    height: auto;
    border: 1px solid #F7DF2A;
    background-color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.signin-with-social > div:nth-child(2) {
    height: auto;
    border: 1px solid #04C700;
    background-color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-area img,
.signup-area img{
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image does not cause overflow */
}

.signup-area .terms-privacy label a{
    color: #3787FF;
}

/* ==================================LOGIN | SIGNUP END============================== */




/* ===============================HOW TO BUY START================================= */
.how-to-buy,
.payment-proceed{
    width: 1010px;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.payment-proceed{
    margin-top: 150px;
}
.how-to-buy p,
.payment-proceed p{
    margin-top: 5px;
}
.how-to-buy span,
.payment-proceed span{
    font-weight: 300;
}
.how-to-buy .how-to-buy-heading,
.payment-proceed .payment-proceed-heading{
    background-image: url('../img/how-to-buy-header-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
/* ===============================HOW TO BUY END================================= */


/* =========================PRIVACY POLICY | TERMS CONDITION | RETURN REFUND START========================== */
.privacy-policy,
.terms-condition,
.return-refund{
    width: 1010px;
    font-family: "Almarai", sans-serif;
    /* font-weight: 700; */
}
.privacy-policy .privacy-policy-heading,
.terms-condition .terms-condition-heading,
.return-refund .return-refund-heading{
    background-image: url('../img/privacy-policy-heading-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
.privacy-policy h5,
.terms-condition h5,
.return-refund h5{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.privacy-policy p,
.terms-condition p,
.return-refund p{
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    font-size: 14px;
    color: #42413D;
}
.privacy-policy ul li,
.terms-condition ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
.return-refund ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.return-refund .company-info ul li{
    list-style: none;
}
/* =========================PRIVACY POLICY | TERMS CONDITION | RETURN REFUND ENDS========================== */


/* =============================ABOUT US START========================= */
.about-us{
    width: 1010px;
    font-family: "Almarai", sans-serif;
}
.about-us p{
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 300;
    text-align: justify;
}
.about-us .company-info ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
/* =============================ABOUT US END========================= */

/* ===================================CONTACT US START============================= */
.contact-us{
    width: 1010px;
    font-family: "Almarai", sans-serif;
}
.contact-us input[type="text"],
.contact-us input[type="password"],
.contact-us input[type="email"]{
    /* width: 350px; */
    height: 40px;
    border-radius: 10px;
    color: #42413D;
    border: 1px solid #D8D8D8;
    margin-bottom: 10px;
    
    background-color: #FFFFFF;
}
.contact-us p{
    margin-top: 5px;
}
.contact-us label{
    font-size: 12px;
    line-height: 13.39px;
    color: #42413D;
    margin-bottom: 10px;
}
.contact-us .contact-us-heading{
    background-image: url('../img/privacy-policy-heading-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 505px;
    height: 34px;
}
.contact-us input::placeholder{
    color: #D8D8D8;
    font-size: 12px;
    line-height: 13.39px;
}
.contact-us ul li{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    list-style: none;
    font-size: 14px;
}
/* ===================================CONTACT US END============================== */


/* ====================================OFFERS START======================= */
.offers{
    width: 1010px;
    font-family: "Almarai", sans-serif;
}
.offers .offers-heading{
    background-image: url('../img/offer-heading-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.offers h1{
    font-family: "Lilita One", sans-serif;
    color: white;
}
/* ====================================OFFERS END======================= */


/* ==================================STORE START========================== */
.store{
    width: 1010px;
    font-family: "Almarai", sans-serif;
}
.store .banner-footer {
    height: 50px;
    background-color: #F8F8F8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.store .store-menu{
    background-color: #F7DF2A;
    border-radius: 10px;
}
.store .store-heading{
    background-color: #F7DF2A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.store h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 26.75px;
    color: #42413D;
}
.store .chat,
.store .follow,
.store .followers{
    font-weight: 400;
    font-size: 13px;
    line-height: 14.51px;
    color: #42413D;
}
.store .store-menu p{
    font-weight: 400;
    font-size: 20px;
    line-height: 22.321px;
    color: #42413D;
}
.store .card p{
    font-weight: 400;
    font-size: 10px;
    line-height: 12.8px;
    color: #42413D;
}
.store .card .price{
    font-weight: 400;
    font-size: 15px;
    line-height: 19.2px;
    color: #42413D;
}
.store .card .offer{
    font-weight: 400;
    font-size: 10px;
    line-height: 10.24px;
    color: #A0A0A0;
    /* margin-bottom: 0px;
    padding-bottom: 0; */
}
/* ==================================STORE END========================== */


/* =========================BLOG START====================== */
.blog{
    width: 1010px;
    font-family: "Almarai", sans-serif;
}
.blog h2{
    font-size: 40px;
    line-height: 44.64px;
    font-weight: 800;
    color: #42413D;
}
.blog .heading-description p{
    font-size: 14px;
    line-height: 15.62px;
    font-weight: 400;
    color: #42413D;
}
.blog .blog-post h4{
    font-size: 20px;
    line-height: 22.32px;
    font-weight: 800;
    color: #F7DF2A;
}
.blog .blog-post div{
    background-color: #FFFFFF;
}
.blog .blog-post .text-justify {
    text-align: justify;
  }
  .blog .top-selling-card .card-title{
    font-size: 15px;
    line-height: 16.74px;
    font-weight: 800;
    color: #F7DF2A;
  }
  .blog .top-selling-card .card-text{
    font-size: 11px;
    line-height: 12.28px;
    font-weight: 400;
    color: #42413D;
  }
  .blog .top-selling-card .date{
    font-size: 12px;
    line-height: 13.39px;
    font-weight: 400;
    color: #F52E26;
  }
  .blog .top-selling-card .read-more{
    font-size: 12px;
    line-height: 13.39px;
    font-weight: 400;
    color: #03A400;
  }
  .blog .left-arrow,
  .blog .right-arrow{
    background-color: #D8D8D8;;
    border-radius: 10px;
    height: 50px;
  }
/* =========================BLOG END====================== */